[submodule "submodules/mex_fisheries"]
	path = submodules/mex_fisheries
	url = git@github.com:jcvdav/mex_fisheries.git
[submodule "submodules/remotes"]
	path = submodules/remotes
	url = git@github.com:jcvdav/remotes.git
